@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Patrick+Hand+SC&display=swap');

.slidev-layout {
    font-family: 'Kalam', sans-serif;
}

.slidev-layout h1 {
    font-family: 'Patrick Hand SC', sans-serif;
}

.slidev-vclick-target {
    transition: none;
}
